<div class="container">
	<div class="row">
		<form class="contact-form" [formGroup]="formMove" (ngSubmit)="sendMoves()">
                    <div class="row">
                      <div formGroupName="initialPosition">
                        <div class="col-md-6">
                          <div class="form-group">
                                <input type="text" placeholder="X" formControlName="x" class="form-control" id="x" >
                          </div>
                        </div>
                          <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" placeholder="Y" formControlName="y" class="form-control" id="y" >
                          </div>
                        </div>
                      </div>
                    </div>
                  	<div class="row">
                  		<div class="col-md-12">
                  		<div class="form-group">
                        <input type="text" placeholder="Directions" formControlName="directions" class="form-control" id="directions" >
                  		</div>
                  	</div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-success mb-4 connexion" [disabled]="formMove.invalid">Envoyer</button>
                      </div>
                    </div>
                </form>
  </div>
  
  <span *ngIf="resultPositions.length > 0">Listes des positions parcourues</span>
  <div *ngFor="let resultPosition of resultPositions">
      [{{resultPosition.x}},{{resultPosition.y}}]
  </div>

  <br>
  <br>
  <br>

  <div *ngFor="let fullArray of mapArray">
    <div *ngFor="let oneArray of fullArray">
      {{oneArray}}
    </div>
  </div>